@import 'style.css';

#btnEnigme {
    background-color: var(--dark-purple);
    border-radius: 2px;
}

/*section relve le defi*/
section.defi {
    background: url(../images/Enigme/Pantherenigme1.png) no-repeat;
    background-size: 65%;
    width: 95%;
    height: 700px;
}

.defi>div {
    width: 50%;
    height: 540px;
    position: relative;
    top: 20%;
    left: 50%;
    animation: fade-in ease-in-out 1s;
}

.defi h1 {
    font-family: 'Beyno', sans-serif;
    letter-spacing: 3px;
    font-size: calc(2.7rem + 1.5vw);
    margin-right: 22%;
    margin-left: 10%;
}

.defi .paragraphe {
    background: url(../images/Enigme/Pantherenigme2.png) no-repeat;
    background-size: 105%;
    height: 500px;
    padding-top: 26%;
    padding-left: 20%;
}

.defi .paragraphe p {
    width: 60%;
}

.defi .souris-container {
    width: 60%;
}

.defi img {
    max-width: 40px;
    display: block;
    margin-top: 5px;
    margin-left: 30%;
}

/* section enigme*/
section.enigme {
    margin: 100px 0;
    width: 85%;
    position: relative;
    left: 15%;
}

.enigme .sujet {
    width: 55%;
    margin: 30px 0;
    animation: fade-in ease-in-out 1s;
}

section.enigme .sujet q {
    font-size: calc(1rem + 1vw);
    color: var(--medium-purple);
    font-weight: normal;
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 1.5;
}

section.enigme .sujet q::before, section.enigme .sujet q::after {
    content: none;
}

.flex-container {
    display: flex;
}

.enigme .transcription .wakanda_font, section.enigme .sujet q {
    font-family: 'Wakanda Forever', sans-serif;
}

.enigme .contenant {
    flex: 1;
}

.enigme .transcription {
    margin: 30px 0;
    animation: fade-in ease-in-out 1s;
}

.enigme .transcription p:nth-of-type(1) {
    margin-bottom: 20px;
}

.enigme .contenant .formulaire {
    margin: 160px 0 30px 0;
}

.contenant .formulaire * {
    display: block;
    font-family: 'Carantall', sans-serif;
    font-size: calc(0.5rem + 0.5vw);
}

.enigme .formulaire textarea {
    outline: none;
    resize: none;
    width: 85%;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 10px;
    margin: 10px 0;
    border: solid 2px;
    color: var(--medium-purple);
    background-color: transparent;
}

.enigme .formulaire textarea::placeholder {
    color: var(--medium-purple)
}

.enigme .formulaire button {
    background-color: var(--light-purple);
    color: var(--dark-blue);
    padding: 10px 30px;
    border: var(--light-purple) solid 1px;
    border-radius: 20px;
    font-weight: bold;
    margin: 60px 0 0 30%;
    cursor: pointer;
    letter-spacing: 1px;
}

.enigme .formulaire button:hover {
    box-shadow: var(--light-purple) 2px 2px 10px;
}

.span-num {
    font-family: 'Cantarell';
}

/*Popup*/
.formulaire .overlay {
    position: fixed;
    width: 90%;
    height: 90vh;
    top: 5%;
    left: 5vh;
    background: var(--overlay-popup-color);
    z-index: 10;
    display: none;
}

.formulaire .overlay-transparent {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.formulaire #popup-quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--popup-color);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    z-index: 10;
}


.formulaire #popup-quiz p {
    letter-spacing: 1.5px;
    margin-top: 10px;
    padding: 20px;
    /* text-align: center; */
}

.formulaire #popup-quiz h2 {
    font-size: calc(1rem + 1vw);
    color: var(--white-color);
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}


.formulaire #btnClose {
    margin: 0px;
    margin-top: 50px;
}

.enigme aside {
    flex: 2;
    background: url(../images/Enigme/Pantherenigme3.png) no-repeat;
    background-position-x: 30%;
    background-size: 80%;
    animation: fade-in ease-in-out 1s;
}

.enigme aside h3 {
    font-family: 'Cantarell', sans-serif;
    font-size: calc(0.5rem + 0.5vw);
    margin-bottom: 7%;
    text-align: center;
}

.enigme aside p {
    text-align: center;
}

.enigme aside .aside-element {
    width: 50%;
    position: relative;
    top: 8vw;
    left: 20%;
}